:root {
    --cor-texto-principal: #ffffff;
    --fonte-textos: 'Rawline', sans-serif;
    

    --background: #e3e4e6;


    /* gov.br */
    --gov-verde: #15CF0C;
    --gov-amarelo: #ffad08;
    --gov-azul: #2341fe;
}

h3 {
    margin-bottom: 0;
    font-weight: bold;
}